.button {
    height: 48px;
    width: 48px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 4px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}